<!DOCTYPE html>
<html>

    <head>
        <title>Logout</title>
       
    </head>

    <body>
        <div class="container">
            <h1>Logout</h1>
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </div>
    </body>

</html>